<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>我的个人主页</title>
    <link rel="stylesheet" href="https://www.w3schools.cn/w3css/4/w3.css">
    <link rel="shortcut icon" href="/static/images/favicon.ico"/>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="sho1">
        <h1 class="tit">我的作品</h1>
        <h2>&emsp;&emsp;&emsp;代表作</h2>
        <div class="card" style="width: 18rem;">
            <img src="https://livefile.xesimg.com/programme/assets/5e1e9c8a7bd4700dc03b09d7aa873b6f.jpg?x-oss-process=image/resize,w_640/format,webp" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">OK系统</h5>
                <p class="card-text">一个模拟的电脑，使用python语言编写，终端交互。使用到的库：xes.ext、time、os、random</p>
                <a target="_blank" href="https://code.xueersi.com/home/project/detail?lang=code&pid=29026469&version=python&form=python&langType=python" class="btn btn-outline-primary">
                    电脑版
                </a>
                <a target="_blank" href="https://code.xueersi.com/m/course-detail?id=29026469&lang=python" class="btn btn-outline-primary">
                    手机版
                </a>
            </div>
        </div>
        <h2 class="tit">优秀作品</h2>
        <div class="row">   <!--class [row] 实现横排列-->
            <div class="col-3">
                <div class="card" style="width: 18rem;">
                    <img src="/static/images/K.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">美味餐厅</h5>
                        <p class="card-text">模拟自制果汁（过程），是随堂练习改编的。使用python语言编写。使用到的库：turtle、time、os</p>
                        <a target="_blank" href="https://code.xueersi.com/home/project/detail?lang=code&pid=27453763&version=webpy&form=webpy&langType=webpy" class="btn btn-outline-primary">
                            电脑版
                        </a>
                        <a target="_blank" href="https://code.xueersi.com/m/course-detail?id=27453763&lang=webpy" class="btn btn-outline-primary">
                            手机版
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card" style="width: 18rem;">
                    <img src="/static/images/K_2.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">模拟wx问卷</h5>
                        <p class="card-text">
                            模拟问卷，使用python语言编写，弹窗交互。使用到的库：wx
                            （wx是第三方库，需要额外安装！不支持手机端）
                        </p>
                        <a target="_blank" href="https://code.xueersi.com/home/project/detail?lang=code&pid=18612845&version=offline&form=python&langType=python" class="btn btn-outline-primary">
                            电脑版
                        </a>
                        <button type="button" class="btn btn-outline-primary" disabled>
                            手机版
                        </button>
                        <span class="d-inline-block" tabindex="0" data-bs-toggle="tooltip" title="Disabled tooltip">
                            <button class="btn btn-outline-primary" type="button" disabled>手机版</button>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card" style="width: 18rem;">
                    <img src="/static/images/K_1.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">七彩贪吃蛇</h5>
                        <p class="card-text">模拟贪吃蛇游戏，使用scratch编写。</p>
                        <a target="_blank" href="https://code.xueersi.com/home/project/detail?lang=scratch&pid=13415031&version=3.0&langType=scratch" class="btn btn-outline-primary">
                            电脑版
                        </a>
                        <a target="_blank" href="https://code.xueersi.com/m/course-detail?id=13415031&lang=scratch" class="btn btn-outline-primary">
                            手机版
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card" style="width: 18rem;">
                    <img src="/static/images/K_3.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">钓鱼小游戏</h5>
                        <p class="card-text">模拟钓鱼，使用scratch编写。</p>
                        <a target="_blank" href="https://code.xueersi.com/home/project/detail?lang=scratch&pid=13740956&version=3.0&langType=scratch" class="btn btn-outline-primary">
                            电脑版
                        </a>
                        <a target="_blank" href="https://code.xueersi.com/m/course-detail?id=13740956&lang=scratch" class="btn btn-outline-primary">
                            手机版
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>

        <div class="alert alert-primary d-flex align-items-center" role="alert">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dash-circle-fill" viewBox="0 0 16 16">
                    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h7a.5.5 0 0 0 0-1h-7z"/>
                </svg>
                <div>
                   [加入我们][与我合作]暂未开通
                </div>
            </div>
        <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
            <div class="btn-group me-2" role="group" aria-label="First group">
                <a href="/" type="button" class="btn btn-primary">首页</a>
                <a href="/face" type="button" class="btn btn-primary">成就</a>
                <a href="/" type="button" class="btn btn-primary">爱好</a>
            </div>
            <div class="btn-group me-2" role="group" aria-label="Second group">
                <button type="button" class="btn btn-secondary" onclick="alert('您好，该功能暂未开通哦😀😆')">加入我们</button>
                <button type="button" class="btn btn-secondary" onclick="alert('你可以右键单击网页，选择查看网页源代码/检查；你还可以在网址前附上 view-source: 来查看源码。')">网页源码</button>
                <button type="button" class="btn btn-secondary" onclick="alert('您好，该功能暂未开通哦😀😆')">与我合作</button>
                <button type="button" class="btn btn-secondary">7</button>
            </div>
            <div class="btn-group" role="group" aria-label="Third group">
                <button type="button" class="btn btn-info">8</button>
        </div>
        </div>
        <br>
        <br>
        <br>
        <br>
        <div class="w3-container">
            <h2>下载</h2>
            <p>下载进度:</p>

            <div class="w3-light-grey w3-round-xlarge">
                <div id="myBar" class="w3-container w3-blue w3-round-xlarge" style="height:24px;width:0%">
                </div>
            </div>
        
            <p id="myP">已下载&emsp;<span id="demo">0</span>/10</p>

            <button class="w3-light-grey w3-round-xlarge" onclick="move();this.disabled='true'">下载</button> 
        </div>

        <script>
            function move() {
                var elem = document.getElementById("myBar");   
                var width = 0;
                var id = setInterval(frame, 50);
                function frame() {
                if (width >= 100) {
                    clearInterval(id);
                    document.getElementById("myP").className = "w3-text-green w3-animate-opacity";
                    document.getElementById("myP").innerHTML = "完毕!";
                } else {
                    width++; 
                    elem.style.width = width + '%'; 
                    var num = width * 1 / 10;
                    num = num.toFixed(0)
                    document.getElementById("demo").innerHTML = num;
                }
            }
        }
</script>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <div class="alert alert-success" role="alert">
            <p class="tit">别翻了，作品掏空了</p>
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
    </div>
    
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>